@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Comfortaa", sans-serif;
    font-size: medium;
}

a.active hr{
    display: block;
}
.preserve-whitespace {
    white-space: pre-line;
}

button {
    border: #FFDA78 2px solid;
    padding: 8px 28px;
    border-radius: 15px;
    color: #49557e;
    font-weight: 600;
    transition: 0.3s;
}

button:hover{
    background-color: white;
}

body{
    /* background-color: rgb(255, 255, 248); */
}

h1 {
    font-family: "Prata", serif;
    font-weight: 500;
}

.icon_ {
    filter: brightness(0) invert(30%) sepia(100%) saturate(200%) hue-rotate(180deg);
}

.menu_burger {
    width: 35px;
}

.dropdown_angle_left {
    width: 35px;
}

.form-filter {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.form-container {
    border-radius: 10px;
    max-width: 300px;
    padding: 15px;
    padding-top: 3px;
    background-color: #fffde8;
    
    /* background: linear-gradient(to right,#ffe59f, rgb(255, 255, 255) ); */
}

.all_subcat_butt {
   font-size: 12px;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
   color: #49557e;
   border-color: #FFDA78;
   border-radius: 10px;
}

.dropdown_profile {
    width: 150px;
    background-color: rgb(255, 255, 248);
    border: 3px solid #FFDA78;
    padding: 15px;
    border-radius: 10px;
    color: #49557e;
}

::-webkit-scrollbar {
    display: none;
}

.product_image {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
    background-color: white;
    border: 2px solid #FFDA78;
    /* border: 3px solid rgba(255, 166, 0, 0.377); */
    border-radius: 20px;
}

.cart_images {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    background-color: white;
    border: 2px solid #FFDA78;
    border-radius: 20px;
}

.order_input {
    border: #49557e 1px solid;
    border-radius: 10px;
    padding: 6px;
    background-color: white;
}

.policy_ {
    @apply flex flex-col sm:flex-row justify-around gap-12 sm:gap-2 text-center py-6 my-7 text-xs sm:text-sm md:text-base text-gray-700;
    border-top: 1px solid #49557e;
    border-bottom: 1px solid #49557e;
}

.product_look {
    border: #FFDA78 2px solid;
    border-radius: 15px;
}