@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Prata&display=swap');

@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    /* background-color: rgb(255, 255, 248); */
    font-family: "Comfortaa", sans-serif;
    font-size: medium;
}

h1 {
    font-family: "Prata";
    font-size: 30px;
}

.active{
    background-color: #FFFDE8;
    border-color: #F7E0A3;
}

hr {
    color: gainsboro;
}

.admin_panel {
    /* background-color: #FFFDE8; */
    background: linear-gradient(#FFFDE8, #fffef4);
}