@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Prata&display=swap');

@import "tailwindcss";

* {
    font-family: "Comfortaa", sans-serif;
    font-size: medium;
}

h1 {
    font-family: "Prata";
    font-size: 30px;
}

.active{
    background-color: #FFFDE8;
    border-color: #F7E0A3;
}

.logout-button {
    background-color: #FFFDE8;
    border: 1px solid #F7E0A3;
    padding: 10px;
    padding-inline: 20px;
    font-weight: 500;
    border-radius: 25px;
    cursor: pointer;
}



hr {
    color: gainsboro;
}

.admin_panel {
    background: linear-gradient(#FFFDE8, #fffef4);
}

select, input, textarea{
    border: 1px solid gainsboro;
    outline-color: #F7E0A3;
    border-radius: 4px;
}